.product-create-container {
    width: 50%;
    margin: auto;
    background: #f3f4f6;
    padding: 20px;
    border-radius: 8px;
}

.product-create-container form div {
    margin-bottom: 15px;
}

.product-create-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-create-container input,
.product-create-container textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.product-create-container button {
    padding: 10px 20px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}